terratowns_endpoint="https://terratowns.cloud/api"
// bucket_name="ubvpz8q6vyj9w1rxsidtrdluflsr639r"

rockhard = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/Rockhard"
  content_version = 1
}
healthfood = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/Healthfood"
  content_version = 1 
}